@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'),
		url(http://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff)
		format('woff');
}

body {
	font-family: Lato;
}

table {
	margin: top: 0px; margin-left : auto;
	margin-right: auto;
	border: 3px;
	width: 70%;
	margin-left: auto;
}

td {
	align: center;
}

.pref {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	width: 185px;
	
	visibility: hidden;
}

.preference_input {
	margin-left: 20px;
	margin-right: auto;
	width: 118px;
	height: 18px;
	
	padding-left: 4px;
	
	border: 1px solid #c0c0c0;
    border-radius: 2px 2px 2px 2px;
    
    font-family: Lato;
    font-size: 14px;
}

.preference_button {
	/* 	background-color: #79bcff; */
    height: 100%;	
}

#submitlink {
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

#submitlink a {
	align: center;
	width: 100%;
    text-align: center;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
	color: #6c6c6c;
}

#submitlink a:hover {
    color: #ffffff;
    text-shadow: -1px 1px 8px #3e3e3e, 1px -1px 8px #3e3e3e;
}

a:hover {
	color: #fff;
	text-shadow: -1px 1px 8px #000, 1px -1px 8px #000;
}

.card {
/* 	display: flex; */
/* 	justify-content: center; align horizontal */
/* 	align-items: center; */
	
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 110px;
	height: 90px;
	align: center;
	text-align: center;
	vertical-align: middle;
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .2);
	padding: 10px 12px 18px 12px;
	border: 1px solid #c0c0c0;
	border-radius: 5px 5px 5px 5px;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
	background-color: #ffffff;
	color: #333;
}

/* .card:hover { */
/* 	background-color: #fd5757; */
/* 	color: #fff; */
/* 	text-shadow: -1px 1px 8px #000, 1px -1px 8px #000; */
/* } */

.wrap {
	/* 	border: 40px; */
	width: 95%;
	height: auto;
	margin: auto;
	margin-top: 2%;
	/* 		margin-bottom: 0%; */
	/* 		margin-left: 0%; */
	/* 		margin-right: 0%; */
}

.bar {
    margin-top: 15px;
    width: 100%;
    height: 1px;
    background: #fff;
}

.bar i {
    width: 99%;
    margin: auto;
    height: 2px;
    display: block;
    background: #e2e2e2;
}